.html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white;
  font-size: 16px;
  font-family: PTMono; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

b, bold {
  font-weight: bold; }

@font-face {
  font-family: PTMono;
  src: url(../fonts/pt-mono.ttf); }

@font-face {
  font-family: PTMonoB;
  src: url(../fonts/pt-mono-b.ttf); }

.toggle-mnu {
  display: block;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 40px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

.bgrepos, .top-search input[type=submit], .cart-link a, .blue-block, .top-phone, .top-mail, .arrows a, .obords li a, .free-call:after, .free-call:before {
  background-repeat: no-repeat;
  background-position: 0 0; }

.wrapper {
  width: 100%;
  background-position: 0 0;
  background-repeat: repeat;
  background-image: url("../img/wrap.jpg");
  overflow: hidden; }

.w1080 {
  width: 1080px;
  margin: auto; }

.w1024 {
  width: 1024px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.top {
  width: 100%;
  height: 50px;
  background-color: #68cff6;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c1e4ff), to(#0060b1));
  background-image: -webkit-linear-gradient(bottom, #c1e4ff 0%, #0060b1 100%);
  background-image: linear-gradient(to top, #c1e4ff 0%, #0060b1 100%);
  padding-top: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.top-search {
  margin-left: 25px; }
  .top-search input[type=text] {
    width: 314px;
    height: 33px;
    background-color: #f3f3f3;
    border: 1px solid #0046b0;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    -webkit-box-shadow: inset 0 3px 4px rgba(2, 25, 59, 0.64);
            box-shadow: inset 0 3px 4px rgba(2, 25, 59, 0.64);
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left; }
  .top-search input[type=submit] {
    float: left;
    margin-left: 10px;
    background: none;
    background-image: url("../img/glass-search.png");
    border: none;
    width: 31px;
    height: 31px;
    cursor: pointer; }

.top-cart-links {
  float: right;
  text-align: right; }
  .top-cart-links div {
    float: left;
    color: black;
    font-family: PTMono;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    line-height: 2.1; }
  .top-cart-links a {
    color: black;
    text-decoration: underline; }

.help-link {
  margin-right: 40px;
  margin-left: 58px; }

.cart-link {
  display: block;
  float: left; }
  .cart-link a {
    margin-left: 25px;
    display: block;
    padding-left: 50px;
    background-image: url("../img/cart-icon.png");
    height: 35px;
    float: left; }
  .cart-link span {
    margin-left: 10px;
    float: left;
    display: block; }

.blue-block {
  width: 1004px;
  height: 172px;
  background-image: url("../img/blue-block.png");
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-top: 5px;
  margin-bottom: 0px;
  margin-top: 20px; }

.white-col {
  background-color: #FFF;
  overflow: hidden;
  padding-bottom: 25px; }

.logo {
  float: left; }

.top_mnu {
  margin-top: 25px;
  margin-left: 15px;
  float: left; }
  .top_mnu ul {
    width: 100%;
    overflow: hidden;
    display: block;
    text-align: center; }
  .top_mnu li {
    display: inline-block;
    margin: 0 2.5px; }
  .top_mnu ul:first-child a {
    height: 35px;
    border: 2px solid white;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    color: black;
    font-family: PTMono;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: underline;
    display: block;
    padding: 0 7px; }
  .top_mnu ul:first-child li:first-child a {
    background-color: #ffea00; }
  .top_mnu ul:first-child li:nth-child(2) a {
    background-color: #ffe981; }
  .top_mnu ul:first-child li:nth-child(3) a {
    background-color: #7cebff; }
  .top_mnu ul:nth-child(2) {
    margin-top: 10px; }
    .top_mnu ul:nth-child(2) a {
      line-height: 1;
      color: white;
      font-family: PTMono;
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline; }

.nopadding {
  padding: 0 !important; }

.col-contacts {
  margin-top: 35px; }
  .col-contacts div {
    padding-left: 40px;
    color: white;
    font-family: PTMono;
    font-size: 17px;
    line-height: 1.7;
    font-weight: bold; }
  .col-contacts a {
    color: white;
    font-family: PTMono;
    font-size: 17px; }

.top-phone {
  background-image: url("../img/phone-icon.png");
  height: 32px;
  margin-bottom: 5px; }

.top-mail {
  background-image: url("../img/mail-icon.png");
  height: 23px;
  line-height: 1; }
  .top-mail a {
    text-decoration: none; }

.bloquot {
  margin: auto;
  width: 950px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 20px 0 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: PTMono;
  font-size: 14px;
  color: #46494a;
  line-height: 1.2;
  overflow: hidden;
  background: #e5f8ff url("../img/teacher1.png") no-repeat right bottom;
  padding-right: 320px;
  margin-bottom: 55px; }
  .bloquot p {
    margin-bottom: 20px; }
    .bloquot p:last-child {
      margin-bottom: 0; }

a {
  color: #ff6c00;
  font-weight: 700;
  text-decoration: underline; }

.flor {
  float: right;
  margin: 0 0 0 10px; }

.oborud {
  width: 980px;
  margin: auto; }
  .oborud a {
    color: #4180e4;
    font-family: PTMono;
    font-size: 26px;
    font-weight: 700;
    text-decoration: underline; }
  .oborud > div {
    text-align: center; }
    .oborud > div span {
      margin-top: 10px;
      display: block; }

.slider {
  position: relative;
  padding: 15px 0;
  width: 100%;
  background: url("../img/slider-top.png") no-repeat 0 0, url("../img/slider-bottom.png") no-repeat bottom left;
  font-size: 0; }

.slider-text {
  text-align: center;
  width: 520px;
  left: 40px;
  top: 30px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  color: white;
  font-family: PTMonoB;
  text-transform: uppercase;
  font-size: 48px;
  position: absolute; }
  .slider-text p {
    line-height: 1.2;
    margin-bottom: 90px; }
  .slider-text span {
    font-size: 34px; }
  .slider-text a {
    margin-top: 60px;
    height: 56px;
    width: auto;
    padding: 0 15px;
    background-color: #fc0;
    border: 2px solid white;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    display: inline-block;
    color: black;
    font-family: PTMonoB;
    font-size: 26px;
    line-height: 2;
    text-shadow: none;
    text-transform: none; }

.arrows a {
  position: absolute;
  top: 200px;
  width: 59px;
  height: 106px;
  display: block; }

.arrow-l {
  background-image: url("../img/arrow-l.png");
  left: 5px; }

.arrow-r {
  background-image: url("../img/arrow-r.png");
  right: 5px; }

.col-pop {
  padding: 25px 20px; }
  .col-pop > div {
    text-align: center;
    overflow: hidden; }
    .col-pop > div a {
      color: black;
      font-family: PTMono;
      font-size: 17px;
      font-weight: 700;
      line-height: 1.2;
      text-decoration: underline; }
  .col-pop h2 {
    margin-bottom: 20px; }
    .col-pop h2 a {
      color: black;
      font-family: PTMono;
      font-weight: 700;
      font-size: 26px;
      text-decoration: underline; }
  .col-pop .add_cart {
    height: 41px;
    background-color: #fc0;
    padding: 0 10px;
    border: 2px solid white;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    display: inline-block;
    color: black;
    font-family: PTMono;
    font-size: 17px;
    font-weight: 700;
    line-height: 2;
    text-decoration: underline;
    margin-top: 17px; }

.add_cart.added {
  background-color: #a3ffa5;
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
  line-height: 2.6; }

.pops div {
  padding: 17px 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  margin-bottom: 10px; }
  .pops div:hover {
    border: 1px solid #0071bb;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.28);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.28); }

.obords {
  background-color: #004D8C;
  padding: 15px 30px 0 30px;
  overflow: hidden; }
  .obords h2 {
    margin-bottom: 25px; }
    .obords h2 a {
      color: white;
      font-family: PTMono;
      font-size: 26px;
      font-weight: 700;
      text-decoration: underline;
      text-transform: uppercase; }
  .obords li {
    float: left;
    width: -webkit-calc(100% / 7);
    width: calc(100% / 7);
    text-align: center;
    margin-bottom: 35px; }
    .obords li a {
      padding-top: 70px;
      height: 105px;
      display: block;
      background-position: top center; }
    .obords li:first-child a {
      background-image: url("../img/rus.png"); }
    .obords li:nth-child(2) a {
      background-image: url("../img/mat.png"); }
    .obords li:nth-child(3) a {
      background-image: url("../img/hist.png"); }
    .obords li:nth-child(4) a {
      background-image: url("../img/inform.png"); }
    .obords li:nth-child(5) a {
      background-image: url("../img/izo.png"); }
    .obords li:nth-child(6) a {
      background-image: url("../img/geo.png"); }
    .obords li:nth-child(7) a {
      background-image: url("../img/obz.png"); }
    .obords li:nth-child(8) a {
      background-image: url("../img/inyaz.png"); }
    .obords li:nth-child(9) a {
      background-image: url("../img/him.png"); }
    .obords li:nth-child(10) a {
      background-image: url("../img/bio.png"); }
    .obords li:nth-child(11) a {
      background-image: url("../img/fizkult.png"); }
    .obords li:nth-child(12) a {
      background-image: url("../img/muz.png"); }
    .obords li:nth-child(13) a {
      background-image: url("../img/fizik.png"); }
    .obords li:nth-child(14) a {
      background-image: url("../img/eco.png"); }
    .obords li a {
      font-size: 14px;
      color: #FFF;
      font-family: PTMono;
      text-align: center; }
      .obords li a:hover {
        text-decoration: none; }

.free-call {
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f54f01), to(#f5a801));
  background-image: -webkit-linear-gradient(bottom, #f54f01 0%, #f5a801 100%);
  background-image: linear-gradient(to top, #f54f01 0%, #f5a801 100%);
  height: 105px;
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #fff;
  box-sizing: border-box; }
  .free-call:after {
    display: block;
    position: absolute;
    top: -16px;
    left: 0;
    content: "";
    width: 1080px;
    height: 15px;
    background-image: url("../img/free-call-top.png"); }
  .free-call:before {
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    content: "";
    width: 1080px;
    height: 15px;
    background-image: url("../img/free-call-bottom.png"); }

.col-free-phone {
  color: black;
  font-family: PTMonoB;
  font-size: 51px;
  line-height: 1.5; }

.col-free-text {
  color: white;
  font-family: PTMonoB;
  font-size: 37px;
  line-height: 1; }
  .col-free-text p {
    line-height: 1; }
  .col-free-text span {
    font-size: 26px;
    line-height: 1; }

.nopadding-r {
  padding-right: 0 !important; }

.nopadding-l {
  padding-left: 0 !important; }

.col-projects {
  padding: 25px 30px; }
  .col-projects ul {
    width: 100%;
    display: block;
    overflow: hidden; }
  .col-projects li {
    text-align: center;
    float: left;
    margin-right: 120px;
    margin-bottom: 20px;
    height: 215px;
    overflow: hidden; }
    .col-projects li:nth-child(3n) {
      margin-right: 0; }
  .col-projects h2 {
    color: black;
    font-family: PTMono;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px; }
    .col-projects h2 a {
      color: black;
      text-decoration: underline; }
  .col-projects a {
    color: black; }
    .col-projects a span {
      color: black;
      font-family: PTMono;
      font-size: 26px;
      font-weight: 400;
      text-decoration: underline;
      text-transform: uppercase;
      display: block;
      margin-top: 7px; }

.wrap-all {
  width: 100%;
  overflow: hidden; }

.view-all-reviews {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  background-image: url("../img/dotte.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  color: black;
  font-family: PTMono;
  font-size: 17px;
  text-decoration: underline; }

.reviews-cantainer {
  overflow: hidden;
  margin-bottom: 20px; }

.how-we-works {
  padding: 65px 40px; }
  .how-we-works h2 {
    color: black;
    font-family: PTMono;
    font-size: 26px; }
    .how-we-works h2 a {
      color: black;
      font-weight: 700;
      text-decoration: underline;
      text-transform: uppercase;
      margin-bottom: 35px; }
  .how-we-works .text-mod {
    margin-top: 20px; }
  .how-we-works table {
    width: 100%; }
    .how-we-works table td {
      width: 20%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 10px;
      background-repeat: no-repeat;
      background-position: top center;
      height: 151px;
      vertical-align: middle; }
      .how-we-works table td:first-child {
        background-image: url("../img/1.png"); }
      .how-we-works table td:nth-child(2) {
        background-image: url("../img/2.png"); }
      .how-we-works table td:nth-child(3) {
        background-image: url("../img/3.png"); }
      .how-we-works table td:nth-child(4) {
        background-image: url("../img/4.png"); }
      .how-we-works table td:nth-child(5) {
        background-image: url("../img/5.png"); }

.go-to-catalog {
  display: block;
  color: black;
  font-family: PTMono;
  font-size: 37px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: underline;
  text-align: center;
  width: 470px;
  height: 56px;
  background-color: #fc0;
  border: 2px solid white;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-box-shadow: 0 0 25.4px 1.6px rgba(255, 204, 0, 0.75);
          box-shadow: 0 0 25.4px 1.6px rgba(255, 204, 0, 0.75);
  margin: 40px auto 0 auto; }

.bot-icons {
  padding: 70px 60px; }
  .bot-icons ul {
    display: table;
    text-align: center;
    width: 100%; }
  .bot-icons li {
    display: table-cell;
    width: 225px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
    vertical-align: middle;
    color: black;
    font-family: PTMono;
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
    background-repeat: no-repeat;
    background-position: left center;
    height: 56px;
    padding: 0 160px;
    padding-left: 60px;
    line-height: 1.2; }
    .bot-icons li:first-child {
      background-image: url("../img/rocket.png"); }
    .bot-icons li:nth-child(2) {
      background-image: url("../img/online.png"); }
    .bot-icons li:nth-child(3) {
      background-image: url("../img/case.png"); }
    .bot-icons li a {
      color: #000; }

.light-blue-block {
  background-color: #4A81AD;
  width: 100%; }
  .light-blue-block .text-mod {
    width: 1024px;
    margin: auto; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: auto;
    position: absolute;
    top: 55px;
    right: 15px;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu ul {
      display: inline; }
    .main-mnu li {
      display: block;
      float: none;
      margin: 0; }
    .main-mnu a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px;
      text-align: right; }
      .main-mnu a:hover {
        text-decoration: underline; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 620px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 1200px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
