/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) 			
	.w1080
		width: 100%
		
	.w1024
		width: 943px
		
	.blue-block
		background-size:  100%
		width: 100%
	.top
		.w1024
			overflow: hidden
	.top-search
		margin-left: 10px
		
	.help-link
		margin-right: 15px
	.bloquot		
		width: calc(100% - 25px)
	.oborud
		width: 100%
	.slider
		width: 992px
		margin: auto
		padding: 13px 0
		background-size:  100%
		img
			width: 100%
			max-width: 100% 
			
	.slider-text
		font-size: 40px
		width: 45%
		p
			margin-bottom: 45px
		a
			font-size: 20px
			line-height: 2.5
			
	.pops
		div
			img
				max-width: 100% 
	.free-call
		width: 992px
		margin: auto
		&:after
			background-size: 100%
			width: 100%
			top: -15px
		&:before
			background-size: 100%
			width: 100%
			bottom: -16px
			
	.col-free-phone
		font-size: 45px
		line-height: 1.8
		
	.col-free-text
		font-size: 34px
		span
			font-size: 24px
			
	.col-projects
		li
			margin-right: 80px

	.bot-icons
		ul
			text-align: center
			display: block
		li			
			padding-right: 0 
			display: inline-block
			margin-right: 20px
			margin-left: 20px
	.bot1
		width: 25%
		margin-right: 5%
	.bot2
		width: 30%	
	.bot3
		width: 40%
		
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) 
	.main-mnu
		display: none
		float: right
		min-width: 250px
		text-align: right
		background-color: #1C242C 
		width: auto
		position: absolute
		top: 55px
		right: 15px
		height: auto
		z-index: 10
		margin-top: 0
		ul 
			display: inline
		li 
			display: block
			float: none
			margin: 0
		a 
			display: block 
			color: #FFF 
			border-radius: 0
			border: none
			padding: 10px
			text-align: right
			&:hover 
				text-decoration: underline
	
	.w1024
		width: 735px
	.top-search input[type="text"]
		width: 273px
		
	.col-logo
		float: left
	.col-mnu
		float: right
	.col-contacts
		float: left
	
	.white-col-top
		overflow: visible
		padding-top: 20px
		height: 178px
	.blue-block
		margin-top: 0
		padding-right: 10px
		
	.logo
		margin-top: 5px
		> img
			width: 172px
			height: auto

	.col-contacts 
			margin-top: 12px
	
	.top_mnu ul:first-child
		li			
			a
				height: auto
				background: none !important
				color: #FFF 
				border: none
				font-size: 14px
				font-weight: normal 		
				padding: 10px		
				line-height: 1
	.white-col-top
		height: 154px
	
	.oborud
		div
			img
				width: auto
				height: 94px
		a
			font-size: 19px
	.slider
		width: 769px
		padding: 11px 0
	
	.slider-text
		font-size: 29px
		p
			margin-bottom: 28px
		span
			font-size: 23px
		a
    	font-size: 16px
    	line-height: 3.2
	.arrows
		a
			top: 140px
	.pops
		div
			span
				display: block
	.free-call
		width: 769px
		&:after
			top: -11px
			
	.col-free-phone
		font-size: 35px
		line-height: 2.5

	.col-free-text 
		font-size: 25px		
		p
			padding-top: 15px		
		span
			font-size: 17px
			
	.col-projects
		ul
			display: block
			text-align: center
		li
			display: inline-block
			margin-left: 48px !important
			margin-right: 48px !important
	.how-we-works
		padding: 40px 20px
	.bot-icons
		padding: 40px
		li			
			background-position: top center
			margin-bottom: 70px 
			padding-top: 55px
			text-align: center
			padding-left: 0
			width: 100%
			margin-right: 0px
			margin-left: 0px
			&:last-child
				margin-bottom: 20px
	.bot1, .bot2, .bot3
		width: 100%
	
	.light-blue-block .w1024
		width: 735px
	.bot
		margin-bottom: 20px
	.bot-mnu2
		margin-bottom: 0
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) 	
	.col-pop h2 
		text-align: center
	
	.how-we-works h2 
		text-align: center

	.bot-adress 
		margin-bottom: 25px	

	.light-blue-block .w1024 
		width: 100%	

	.go-to-catalog 
    font-size: 17px
    line-height: 2.8
    width: 250px

	.logo 
    display: block
    margin-top: 5px
    text-align: left
    width: 100%

	.w1024
		width: 100%
	.top-search
		display: none
	.cab
		display: none
	.help-link
		display: none
	.cart-link
		margin-right: 15px
	.blue-block
		background-position: left -15px top 0 
		background-size: auto
		background-image: none
		background-color: #0074EA 
		margin-top: 0
		height: 210px
		
	.white-col-top
		padding-top:  0
		height: 210px
		
	.bloquot
		padding-right: 10px
		background-image: none
		margin-top: 15px
		margin-bottom: 15px
		
	.oborud > div
		margin-bottom: 25px
	
	.slider
		display: none
	
	.obords li
		width: calc(100% / 2) 

	.obords h2
		text-align: center
		line-height: 1.2

	.free-call
		width: 100%
		padding-top: 0
		padding-bottom: 0
		border: none
		height: auto
		overflow: hidden
		&:after
			display: none
		&:before
			display: none			
	
	.col-obor
		padding-bottom: 0 !important
	.col-free-phone
		padding: 0 15px !important
		font-size: 28px
		line-height: 1
		text-align: center
		padding-top: 15px !important
		
	.col-free-text
		text-align: center
		padding: 0 15px !important
		padding-bottom: 15px !important

	.col-projects li
		margin: auto !important
		margin-bottom: 20px !important
		text-align: center
		width: 100%
	
	.col-projects h2 
		text-align: center
	
	.how-we-works table td
		display: inline-block
		float: left
		width: 50%
		margin-bottom: 15px
		vertical-align: middle
	

@media only screen and (max-width : 640px) 
	/**/
		
@media only screen and (max-width : 620px) 
	/**/
	
@media only screen and (max-width : 570px) 	
	/**/
	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) 
	.oborud div img
		height: 76px
	.oborud a
		font-size: 16px
		
@media only screen and (max-width : 360px) 
	.logo 
		text-align: center

	.obords li
		width: 100%
	.how-we-works table td
		width: 100%
		text-align: center
@media only screen and (max-width : 320px) 
	/**/	
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/
	
/* Small Devices, Tablets */
@media only screen and (min-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.main-mnu 
		display: block !important
		a 
			outline: none !important


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) 
	/**/